.clients-list__clients{
font-weight: bold;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
color: var(--header-text-color);
}

.clients-list__clients-list{
  display: flex;
}

.clients-list__clients-link{
width: 170px;
height: 92px;
border: 1px solid #AFB1B8;
box-sizing: border-box;
border-radius:4px;
fill:#AFB1B8;
display: flex;
justify-content: center;
align-items: center;
padding: 16px 32px 16px 32px;
outline: none;
transition: border 250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus{
   border: 1px solid#2196F3;
}
}

.clients-list__clients-icon{
transition: fill 250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
.clients-list__clients-link:hover &,
.clients-list__clients-link:focus &,
.current{
  fill:#2196F3;
}
}

.clients-list__clients-item{
display: flex;
align-items: center;
&:not(:last-child){
  margin-right: 30px;
}
}